html {
  background: #f6f6f6;
  -webkit-user-select: none;
  user-select: none;
}
body {
  padding: 30px;
}


.z-calendar {
  width: 300px;
  margin: 0 auto;

  border: 1px solid #afafaf;
  background: #fefefe;

  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .25);

  font-weight: bold;
  color: #4b5c66;
  text-align: center;
}

  .z-c-header {
    padding-top: 10px;
    position: relative;
  }
    .z-c-header .z-c-label {
      height: 26px;
      line-height: 26px;

      position: relative;
      overflow: hidden;

      font-size: 20px;
    }
      .z-c-header .z-c-months {
        width: 3600px;

        overflow: hidden;

        position: absolute;
        left: 0;
        top: 0;
      }
        .z-c-header .z-c-months li {
          width: 300px;
          float: left;
        }

    .z-c-header .z-c-previous,
    .z-c-header .z-c-next {
      width: 40px;
      height: 40px;
      line-height: 40px;

      background: #fefefe;

      position: absolute;
      left: 0;
      top: 0;
    }
    .z-c-header .z-c-previous.disabled,
    .z-c-header .z-c-next.disabled {
      opacity: .5;
    }
    .z-c-header .z-c-next {
      left: auto;
      right: 0;
    }

    .z-c-header .z-c-daylabels {
      height: 15px;
      line-height: 15px;
      margin-top: 5px;

      border-bottom: 1px solid #afafaf;

      overflow: hidden;
      font-size: 10px;
    }
      .z-c-header .z-c-daylabels li {
        width: 42px;
        margin-left: 1px;

        float: left;
      }
        .z-c-header .z-c-daylabels li:first-child {
          margin-left: 0;
        }

.z-c-holder {
  height: 215px;
  overflow: hidden;
  position: relative;
}
  .z-c-calendar {
    margin-top: -1px; /* to hide the first line's border */
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 0;

    font-size: 24px;
    line-height: 42px;

    color: #808a8f;
  }
    .z-c-calendar li {
      width: 42px;
      height: 42px;
      float: left;
      border-left: 1px solid #afafaf;
      border-top: 1px solid #afafaf;
    }
      .z-c-calendar li.monday {
        border-left: none;
      }
      .z-c-calendar li.active {
        color: #4b5c66;
      }
      .z-c-calendar li.selected {
        background: #c8deee;
      }
      .z-c-calendar li.selected_first,
      .z-c-calendar li.selected_second {
        position: relative;
        color: #fff;
        background: #4a95c9;
      }
      .z-c-calendar li.selected_first:before,
      .z-c-calendar li.selected_second:before {
        width: 100%;
        height: 100%;

        content: '';
        position: absolute;
        left: -1px;
        top: -1px;

        border: 1px solid #236898;
      }





























